body{
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-titel{
    
}
.rrr{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
    


}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}
.buttonprymare{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
}